<a href="https://colab.research.google.com/github/RiquelmyDev/data-structure-python/blob/main/data_structure_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LISTAS**

conseguimos colocar varios elementos no mesmo local

In [ ]:
# criando e acessando itens de uma lista!

numeros = []

names = ["joao", "maria", "josé", 10, 10.1]

fruta = ["laranjas", ["suco de laranja", "Bolo de laranja"]]

print(names[-1])

print(fruta[0])

josé
laranjas

In [ ]:
# o indicice faz parte de uma lista?

name = input("qual nome vc quer?")
if name in names:
    print(f"O nome ({name}) esta na lista!")
else:
  print(f"não esta!, na lista tem: {names}")

qual nome vc quer?joao
O nome (joao) esta na lista]

In [ ]:
# modificando elementos na lista

frutas = ["acabaxi", "morango", "banana"]

frutas[1] = "pera"
print(frutas)

['acabaxi', 'pera', 'banana']

# **METODOS DE LISTA**

In [ ]:
# tamanho de uma lista

clubs = ["Barcelona", "Chelsea", "PSG", "GALO", "Real", "Brasil", "Lazio"]

print(len(clubs))

7

In [ ]:
#inserindo dados em lista

clubs.append("Liverpool")
print(clubs)

['Barcelona', 'Chelsea', 'PSG', 'GALO', 'Real', 'Brasil', 'Lazio', 'Liverpool']

In [ ]:
#inserindo dados em uma posição especifica

clubs.insert(0, "Man United")
print(clubs)

In [ ]:
# juntando listas

stadiuns = ["old trafford", "Camp Nou", "Stamford Bridge", "Allianz Arena"]

clubs.extend(stadiuns)
print(clubs)

['Man United', 'Man United', 'Barcelona', 'Chelsea', 'PSG', 'GALO', 'Real', 'Brasil', 'Lazio', 'Liverpool', 'old trafford', 'Camp Nou', 'Stamford Bridge', 'Allianz Arena', 'old trafford', 'Camp Nou', 'Stamford Bridge', 'Allianz Arena']

In [ ]:
# rmovendo dados de uma lista

paises = ["brasil", "portugal", "argentina", "espanha"]

paises.remove("argentina")
print(paises)

paises.pop() #remove o ultimo elemento, ou o que eu desejar
print(paises)

['brasil', 'portugal', 'espanha']
['brasil', 'portugal']

In [ ]:
# metodo del

paises = ["brasil", "portugal", "argentina", "espanha"]

del paises[0]
print(paises)

#para limpar a lista e o clear
paises.clear()
print(paises)

['portugal', 'argentina', 'espanha']
[]

# **PERCORRENDO E FATIANDO STRINGS**

In [ ]:
# PERCORRENDO LISTA COM FOR

cars = ["bmw", "audi", "porshe", "ferrari"]
print(cars)

for x in cars:
    print(x)

['bmw', 'audi', 'porshe', 'ferrari']
bmw
audi
porshe
ferrari

In [ ]:
# PERCORRENDO LISTA USANDO RANGE DE LISTA
for x in range(len(cars)):
  print(cars[x])

bmw
audi
porshe
ferrari

In [ ]:
# usando while

contador = 0
while contador < len(cars):
  print(cars[contador])
  contador += 1

bmw
audi
porshe
ferrari

In [ ]:
#FATIANDO LISTAS
compras = ["arroz", "feijão", "farinha de trigo", "mainteiga"]

['arroz', 'feijão', 'farinha de trigo']

In [ ]:
print(compras[0:5:3])
print(compras[::])
print(compras[-1:-3:-1])

['arroz', 'mainteiga']
['arroz', 'feijão', 'farinha de trigo', 'mainteiga']
['mainteiga', 'farinha de trigo']

# **TUPLAS**

uma tupla, é uma estrutura de dados utilizada também para armazenar mais de um dado por vez na mesma estrutura. Porem ela tem caracteristicas difernetes de uma listas. ( Tuplas são imutaveis)

In [ ]:
# tuplas e como alterar dados

frutas = ("banana", "maça", "abacaxi", "melancia")


# não consigo alterar o valor de uma tupla diretamente,
#então converto seu tipo para lista, e posso usar todos os demais metodos


auxiliar = list(frutas)

# e depois posso converter para tupla dnv!

frutas = tuple(auxiliar)

In [ ]:
# extrair dados de tupla para variavel(atribuição)
clubes = ("galo", "barcelona", "chelsea")

(n1, n2, n3) = clubes

print(f"Meu clube do coração é o {n1}, meu segundo favorito é o {n2}, e só depois vem o maior de londres, o {n3}!")

numeros = (1,2,2,2,2,2,2,3,3,3,3,33,2,4)
(n1, n2, *n3) = numeros

for i in range(len(numeros)):
    print(i)

In [ ]:
# juntar tuplas

frutas1 = ("morango", "morango")
frutas2 = ("banana", "maça")
frutas3 = frutas1 + frutas2
print(frutas3)

('morango', 'morango', 'banana', 'maça')

In [ ]:
#count

frutas3.count("morango")

2

In [ ]:
# index
frutas3.index("maça")

3

#**LiStas Aninhadas**

In [ ]:
# Lista aninhada (encadeada)

colaboradores = [
    ["Nome", "Cargo", "Departamento"],
    ["Morgan", "Analista", "Financeiro"],
    ["Edward", "Maneger", "Vendas"],
    ["Marks", "CEO", "Liderança"]
]

CEO

In [ ]:
# acessando dados

print(colaboradores[3][1])

CEO

In [ ]:
# modificando um elemento da lista aninhada
colaboradores[1][1] = "CFO"
print(colaboradores[1][1])

CFO

In [ ]:
# percorrer lista aninhada

for lista in colaboradores:
    for dados in lista:
      print(dados, end=" ")
    print()

Nome Cargo Departamento
Morgan CFO Financeiro
Edward Maneger Vendas
Marks CEO Liderança

In [ ]:

#extraindo dados de uma lista e jogando em uma variavel

for dados in colaboradores[1:]:
  nome, cargo, departamento = dados
  print (f"{nome},  {cargo}, {departamento}")

Morgan,  CFO, Financeiro
Edward,  Maneger, Vendas
Marks,  CEO, Liderança

In [ ]:
# exemplo com range

for i in range(len(colaboradores)):
    for j in range(len(colaboradores[i])):
      print(colaboradores[i][j])
    print()

Nome
Cargo
Departamento

Morgan
CFO
Financeiro

Edward
Maneger
Vendas

Marks
CEO
Liderança

# **DICIONARIOS**

DICIONARIO EM PYTHON É UMA COLEÇÃO ORDENADA E MUTAVEL, COMPOSTA POR PARES DE CHAVES E VALORES. (KEY: VALUE)

In [ ]:
#SINTAXE BASICA - ELE NÃO ACEITA VALORES DE ChaVES DUPLICADOS

carro = {
    "BMW": "i30",
    "Ano": 2011,
    "KM": 13.999,
    "Multas?": False
}

# acessando itens
print(carro["Ano"])

2011

In [ ]:
# modificando item

carro = {
    "BMW": "i30",
    "Ano": 2011,
    "KM": 13.999,
    "Multas?": False
}

carro["Ano"] = 2025
print(carro["Ano"])

print(len(carro))

2025
4

# **dicionario global**

In [ ]:
clube = {
    "nome": "Barcelona",
    "cidade": "Ciudad de Barcelona",
    "Estadio": "CampNou",
    "Capacidade": 100.000,
    "Cores": "Blaugrana",
    "Idade": 125
}

In [ ]:
# acessando valores de um dicionario (indice, get)

print(clube["Cores"])
print(clube.get("Estadio"))

Blaugrana
CampNou

In [ ]:
# retornando as chaves de um dicionario

print(clube.keys())

dict_keys(['nome', 'cidade', 'Estadio', 'Capacidade', 'Cores', 'Idade'])

In [ ]:
# retornar valores
print(clube.values())

dict_values(['Barcelona', 'Ciudad de Barcelona', 'CampNou', 100.0, 'Blaugrana', 125])

In [ ]:
# retornando valores e chaves juntos

print(clube.items())

dict_items([('nome', 'Barcelona'), ('cidade', 'Ciudad de Barcelona'), ('Estadio', 'CampNou'), ('Capacidade', 100.0), ('Cores', 'Blaugrana'), ('Idade', 125)])

In [ ]:
# verificando a existência de uma chave esifica
"rival" not in clube

if "Cores" in clube:
  print("Sim, existe")
else:
  print("não existe")

Sim, existe

In [ ]:
# alterando valores

clube["Estadio"] ="Spotify CampNou"

print(clube["Estadio"])

# usando metodo

clube.update({"Estadio": "New CampNou", "Capacidade": 105.000})
print(clube)

Spotify CampNou
{'nome': 'Barcelona', 'cidade': 'Ciudad de Barcelona', 'Estadio': 'New CampNou', 'Capacidade': 105.0, 'Cores': 'Blaugrana', 'Idade': 125}

In [ ]:
# adiconando um novo chave: valor no dicionario

clube["rival"] = "Real Madrid"
clube.update({"titulos": 98})
print(clube)

#removendo item
clube.pop("rival")
print(clube)

#removendo o ultimo item
clube.popitem()

{'nome': 'Barcelona', 'cidade': 'Ciudad de Barcelona', 'Estadio': 'New CampNou', 'Capacidade': 105.0, 'Cores': 'Blaugrana', 'Idade': 125, 'titulos': 98, 'rival': 'Real Madrid'}
{'nome': 'Barcelona', 'cidade': 'Ciudad de Barcelona', 'Estadio': 'New CampNou', 'Capacidade': 105.0, 'Cores': 'Blaugrana', 'Idade': 125, 'titulos': 98}

('titulos', 98)

In [ ]:
del clube["Cores"]
print(clube)

{'nome': 'Barcelona', 'cidade': 'Ciudad de Barcelona', 'Estadio': 'New CampNou', 'Capacidade': 105.0, 'Idade': 125}

In [ ]:
# limpar o dicionario

clube.clear()

# **PERCORRENDO E METODOS EM DICIONARIOS**

In [ ]:
# dicioanrio
pessoa = {
    "Nome": input("Qual seu nome? "),
    "Idade": int(input("Qual a sua idade? ")),
    "Nacionalidade": input("Qual sua nacionalidade? "),
    "Sexo": input("Qual seu sexo? "),
    "CPF": input("Digite seu CPF: ")
}

print(f"Obrigado {pessoa["Nome"]}, vi que você tem {pessoa["Idade"]} anos, então pode continuar")

Qual seu nome? Lionel Messi
Qual a sua idade? 39
Qual sua nacionalidade? Argentino
Qual seu sexo? Masculino
Digite seu CPF: 101010
Obrigado Lionel Messi, vi que você tem 39 anos, então pode continuar

In [ ]:
# IMPRESSÃO DOS VALORES DO DICIONARIO

for k in pessoa:
  print(pessoa[k])

Lionel Messi
39
Argentino
Masculino
101010

In [ ]:
#impressão chave e valor
for x in pessoa:
  print(f"{x}:{pessoa[x]}")

Nome:Lionel Messi
Idade:39
Nacionalidade:Argentino
Sexo:Masculino
CPF:101010

In [ ]:
# UTILIZANDO KEYS() VALUES() ITEMS()
for chaves, valor in pessoa.items():
  print(f"{chaves} : {valor}")

Nome : Lionel Messi
Idade : 39
Nacionalidade : Argentino
Sexo : Masculino
CPF : 101010

In [ ]:
# FAZENDO UMA COPIA De DICIONARIOS DEVEMOS USAR (COPY)
pessoa2 = pessoa.copy()
pessoa2.update ({"Nome": "Cristiano Ronaldo", "Nacionalidade": "Portugês"})
print(pessoa)
print(pessoa2)

{'Nome': 'Lionel Messi', 'Idade': 39, 'Nacionalidade': 'Argentino', 'Sexo': 'Masculino', 'CPF': '101010'}
{'Nome': 'Cristiano Ronaldo', 'Idade': 39, 'Nacionalidade': 'Portugês', 'Sexo': 'Masculino', 'CPF': '101010'}

# **DICIONARIO ANINHADO**

In [ ]:
clientes = {
    "cliente1" : {
        "Nome": "Ana Julia",
        "Idade": 18,
        "emails": [
            "anajulia@email.com",
            "juliaana@icloud.com"
        ],
        "Cidade": "Belo Horizonte"
    },
    "cliente2" : {
        "Nome": "Isabelly Silva",
        "Idade": 20,
        "emails": [
            "isabellyySilva@email.com"
        ],
        "Cidade": "Ipatinga"
    },
    "cliente3" : {
        "Nome": "Kelly Andrade",
        "Idade": 19,
        "emails": [
            "KellyAndrade@icloud.com"
        ],
        "Cidade": "Ipatinga"
    }
}

In [ ]:
# acessando itens no dicionario aninhado

print(clientes["cliente1"]["emails"][1])

juliaana@icloud.com

In [ ]:
# percorrendo um dicionario
for c, v in clientes.items():
  for c2, v2 in v.items():
    if c2 == "emails":
      print("Emails: ")
      for email in v2:
        print(f" -{email}")
    else:
        print(f"{c2} {v2}")
  print()

Nome Ana Julia
Idade 18
Emails:
 -anajulia@email.com
 -juliaana@icloud.com
Cidade Belo Horizonte

Nome Isabelly Silva
Idade 20
Emails:
 -isabellyySilva@email.com
Cidade Ipatinga

Nome Kelly Andrade
Idade 19
Emails:
 -KellyAndrade@icloud.com
Cidade Ipatinga

In [ ]:
# adiconar cliente

clientes["cliente4"] = {
        "Nome": "Kethelyn Santiago",
        "Idade": 19,
        "emails": [
            "kralin@icloud.com"
        ],
        "Cidade": "Bostom"
}

In [ ]:
print(clientes["cliente4"])

{'Nome': 'Kethelyn Santiago', 'Idade': 19, 'emails': ['kralin@icloud.com'], 'Cidade': 'Bostom'}

In [ ]:
del clientes["cliente1"]

# **SETS**

CONJUSTOS (SETS) é uma coleção não ordenada, mutavel e qie mão permite elementos duplicados

In [2]:
# sintaxe de um SET

frutas = {"banana", "maçã", "uva", "Melância", "limão"}

In [36]:
# definir set vazio

frutis = set()
print(type(frutis))

<class 'set'>

In [3]:
# tamanho de um set

print(len(frutas))

5

In [4]:
# valores duplicados não são aceitos, se vocÊ usar, o set o ignora
# ele tambem entrega uma ordem aleatorio, não tem indice

In [5]:
#Acessando itens no set
for x in frutas:
  print(x)

banana
uva
limão
Melância
maçã

In [ ]:
numeros = {1,2,3,4,1,4,5,6,6,6,7}

for x in numeros:
  print(x)

In [8]:
# verificando se um item existe no set

if "maçã" in frutas:
  print("tem")
else:
  print("Não tem")

tem

In [9]:
"""não é possivel editar um elemento,
mas é possivel adicionar novos elementos
"""
frutas.add("morango")
print(frutas)

"""
a funçaõ update tambem adicona novos elemntos, mas ele intera
cada item, tornando uma string ou qualquer outro elemento
em item individual!!!

"""

{'banana', 'morango', 'uva', 'limão', 'Melância', 'maçã'}

In [12]:
#concatenando Sets

cor1 = {"preto "}
cor2 = {" branco"}

cor1.update(cor2)
print(cor1)

{' branco', 'preto '}

In [16]:
#excluindo valores do set

frutas.remove("morango")
print(frutas)

{'banana', 'uva', 'limão', 'Melância', 'maçã'}

In [20]:
# verificar se Duas listas são iguais

carros = ["bmw", "ford", "fiat"]
carros2 = ["bmw", "ford", "fiat", "fiat"]

# a lista não é igual, mas c vc transformar em set
# elas vão ser nesse caso, pois vai retirar os valores repetidos


if set(carros) == set(carros2):
    print("São iguais")
else:
    print("Não são iguais")

São iguais

In [21]:
# metodo clear

frutas.clear()
print(frutas)

set()

#**METODOS EM SETS**

In [ ]:
# CRIANDO CONJUNTO DE NUMEROS

In [23]:
a = {1, 2, 3}
b = {4, 5, 6}
c = {7, 8, 9}
d = {7, 8, 9}

In [24]:
# metodo copy

aux = a.copy()
print(aux)

{1, 2, 3}

In [27]:
# metodo de união ( juntar elementos dos conjuntos)

#1 forma

aux = a.union(b)
print(aux)

#2 forma
auxi = a | b
print(auxi)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [28]:
# metodo de interserção ( apenas os elementos em comum entre os conjuntos)
a = {1, 2, 3}
b = {3, 5, 1}

#1 forma

aux1 = a.intersection(b)
aux2 = a & b

print(aux2)

{1, 3}

In [32]:
#diferença (apenas o que tem no primeiro conjunto e não tem no segundo)
x = {1, 2, 3, 9}
z = {3, 5, 1, 6}

aux = x.difference(z)
aux1 = c - b
print(aux)

{9, 2}

In [34]:

# diferença simetrica ( oque tem no primeiro e segundo conjunto, mas nao no resto)
x = {1, 2, 3, 9}
z = {3, 5, 1, 6}

aux = x.symmetric_difference(z)
print(aux)

{2, 5, 6, 9}

In [ ]:
colaboradores = [ ["Nome", "Cargo", "Departamento"], ["Alice", "Analista", "Financeiro"], ["Carlos", "Gerente", "Vendas"], ["Júlia", "Estagiária", "RH"] ]