<a href="https://colab.research.google.com/github/RiquelmyDev/data-structure-python/blob/main/data_structure_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LISTAS**

conseguimos colocar varios elementos no mesmo local

In [ ]:
# criando e acessando itens de uma lista!

numeros = []

names = ["joao", "maria", "josé", 10, 10.1]

fruta = ["laranjas", ["suco de laranja", "Bolo de laranja"]]

print(names[-1])

print(fruta[0])

josé
laranjas

In [ ]:
# o indicice faz parte de uma lista?

name = input("qual nome vc quer?")
if name in names:
    print(f"O nome ({name}) esta na lista!")
else:
  print(f"não esta!, na lista tem: {names}")

qual nome vc quer?joao
O nome (joao) esta na lista]

In [ ]:
# modificando elementos na lista

frutas = ["acabaxi", "morango", "banana"]

frutas[1] = "pera"
print(frutas)

['acabaxi', 'pera', 'banana']

# **METODOS DE LISTA**

In [ ]:
# tamanho de uma lista

clubs = ["Barcelona", "Chelsea", "PSG", "GALO", "Real", "Brasil", "Lazio"]

print(len(clubs))

7

In [ ]:
#inserindo dados em lista

clubs.append("Liverpool")
print(clubs)

['Barcelona', 'Chelsea', 'PSG', 'GALO', 'Real', 'Brasil', 'Lazio', 'Liverpool']

In [ ]:
#inserindo dados em uma posição especifica

clubs.insert(0, "Man United")
print(clubs)

In [ ]:
# juntando listas

stadiuns = ["old trafford", "Camp Nou", "Stamford Bridge", "Allianz Arena"]

clubs.extend(stadiuns)
print(clubs)

['Man United', 'Man United', 'Barcelona', 'Chelsea', 'PSG', 'GALO', 'Real', 'Brasil', 'Lazio', 'Liverpool', 'old trafford', 'Camp Nou', 'Stamford Bridge', 'Allianz Arena', 'old trafford', 'Camp Nou', 'Stamford Bridge', 'Allianz Arena']

In [ ]:
# rmovendo dados de uma lista

paises = ["brasil", "portugal", "argentina", "espanha"]

paises.remove("argentina")
print(paises)

paises.pop() #remove o ultimo elemento, ou o que eu desejar
print(paises)

['brasil', 'portugal', 'espanha']
['brasil', 'portugal']

In [ ]:
# metodo del

paises = ["brasil", "portugal", "argentina", "espanha"]

del paises[0]
print(paises)

#para limpar a lista e o clear
paises.clear()
print(paises)

['portugal', 'argentina', 'espanha']
[]

# **PERCORRENDO E FATIANDO STRINGS**

In [ ]:
# PERCORRENDO LISTA COM FOR

cars = ["bmw", "audi", "porshe", "ferrari"]
print(cars)

for x in cars:
    print(x)

['bmw', 'audi', 'porshe', 'ferrari']
bmw
audi
porshe
ferrari

In [ ]:
# PERCORRENDO LISTA USANDO RANGE DE LISTA
for x in range(len(cars)):
  print(cars[x])

bmw
audi
porshe
ferrari

In [ ]:
# usando while

contador = 0
while contador < len(cars):
  print(cars[contador])
  contador += 1

bmw
audi
porshe
ferrari

In [ ]:
#FATIANDO LISTAS
compras = ["arroz", "feijão", "farinha de trigo", "mainteiga"]

['arroz', 'feijão', 'farinha de trigo']

In [ ]:
print(compras[0:5:3])
print(compras[::])
print(compras[-1:-3:-1])

['arroz', 'mainteiga']
['arroz', 'feijão', 'farinha de trigo', 'mainteiga']
['mainteiga', 'farinha de trigo']

# **TUPLAS**

uma tupla, é uma estrutura de dados utilizada também para armazenar mais de um dado por vez na mesma estrutura. Porem ela tem caracteristicas difernetes de uma listas. ( Tuplas são imutaveis)

In [ ]:
# tuplas e como alterar dados

frutas = ("banana", "maça", "abacaxi", "melancia")


# não consigo alterar o valor de uma tupla diretamente,
#então converto seu tipo para lista, e posso usar todos os demais metodos


auxiliar = list(frutas)

# e depois posso converter para tupla dnv!

frutas = tuple(auxiliar)

In [ ]:
# extrair dados de tupla para variavel(atribuição)
clubes = ("galo", "barcelona", "chelsea")

(n1, n2, n3) = clubes

print(f"Meu clube do coração é o {n1}, meu segundo favorito é o {n2}, e só depois vem o maior de londres, o {n3}!")

numeros = (1,2,2,2,2,2,2,3,3,3,3,33,2,4)
(n1, n2, *n3) = numeros

for i in range(len(numeros)):
    print(i)

In [ ]:
# juntar tuplas

frutas1 = ("morango", "morango")
frutas2 = ("banana", "maça")
frutas3 = frutas1 + frutas2
print(frutas3)

('morango', 'morango', 'banana', 'maça')

In [ ]:
#count

frutas3.count("morango")

2

In [ ]:
# index
frutas3.index("maça")

3

# **Lintas Aninhadas**

In [15]:
# Lista aninhada (encadeada)

colaboradores = [
    ["Nome", "Cargo", "Departamento"],
    ["Morgan", "Analista", "Financeiro"],
    ["Edward", "Maneger", "Vendas"],
    ["Marks", "CEO", "Liderança"]
]

CEO

In [16]:
# acessando dados

print(colaboradores[3][1])

CEO

In [17]:
# modificando um elemento da lista aninhada
colaboradores[1][1] = "CFO"
print(colaboradores[1][1])

CFO

In [22]:
# percorrer lista aninhada

for lista in colaboradores:
    for dados in lista:
      print(dados, end=" ")
    print()

Nome Cargo Departamento
Morgan CFO Financeiro
Edward Maneger Vendas
Marks CEO Liderança

In [23]:

#extraindo dados de uma lista e jogando em uma variavel

for dados in colaboradores[1:]:
  nome, cargo, departamento = dados
  print (f"{nome},  {cargo}, {departamento}")

Morgan,  CFO, Financeiro
Edward,  Maneger, Vendas
Marks,  CEO, Liderança

In [26]:
# exemplo com range

for i in range(len(colaboradores)):
    for j in range(len(colaboradores[i])):
      print(colaboradores[i][j])
    print()

Nome
Cargo
Departamento

Morgan
CFO
Financeiro

Edward
Maneger
Vendas

Marks
CEO
Liderança